<% include ../partials/header %>
<div class="container">
        <h2 style="text-align:center;">Create new camp ground</h2>
        <div style="width:30%; margin: 25px auto">
            <form action ="/campgrounds" method ="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name" name="new_campground">        
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" placeholder="Price" name="new_price" min="1.00" step="1.00" max="20.00">        
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Image URL" name="image_url">        
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Description" name="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>        
                </div>        
            
            </form>
        </div>
</div>


<% include ../partials/footer %>